<mat-toolbar color="primary" class="mat-elevation-z8">
    <mat-toolbar-row>
        <span>
            <button mat-icon-button aria-label="home" routerLink="/home">
                <i class="material-icons md-48">face</i>
                <!--<img mat-card-image src="../assets/citi.png" alt="CITI">-->

            </button> &nbsp; CITI APP
            <!--Futures Exchanges Audit Trail Reporting-->
        </span>

        &nbsp;

        <button mat-button [matMenuTriggerFor]="menu">
            <!--<i class="material-icons md-48">menu</i>-->
            Reports
        </button>

        <mat-menu #menu="matMenu" overlapTrigger=false yPosition="below" xPosition="after">

            <button mat-menu-item routerLink="/reports">Report View 1</button>
            <button mat-menu-item routerLink="/rest">Rest API</button>
            <!--<button mat-menu-item routerLink="/reports">Report View 2</button>-->
        </mat-menu>



        <span class="example-fill-remaining-space"></span>

        <button mat-icon-button aria-label="profile">
            <i class="material-icons md-48">perm_identity</i>
        </button>

        <button mat-icon-button aria-label="help">
            <i class="material-icons md-48">help</i>
        </button>

    </mat-toolbar-row>
</mat-toolbar>