<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>
            <button mat-icon-button aria-label="home" routerLink="/home">
                <i class="material-icons md-48">face</i>
            </button>
            App Name
            <!--Futures Exchanges Audit Trail Reporting-->
        </span>

        <button mat-icon-button [matMenuTriggerFor]="menu">
            <i class="material-icons md-48">more_vert</i>
        </button>
        <mat-menu #menu="matMenu" overlapTrigger=false yPosition="below" xPosition="after">

            <button mat-menu-item routerLink="/home">Home</button>
            <button mat-menu-item routerLink="/reports">Report</button>
        </mat-menu>


        <span class="example-fill-remaining-space"></span>

        <button mat-button>About</button>
        <button mat-icon-button aria-label="profile">
            <i class="material-icons md-48">perm_identity</i>
        </button>

        <button mat-icon-button aria-label="help">
            <i class="material-icons md-48">help</i>
        </button>

    </mat-toolbar-row>
</mat-toolbar>