.demo-tab-group {
  border: 1px solid #e8e8e8;
}

.demo-tab-content {
  padding: 16px;
  width: 100%
}

.example-form {
  
  
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.demo-card-content{
     display: flex;
    width: 100%;
    
}

.demo-card{
     display: flex;
    width: 100%;
      
}
.example-container{
    width: 100%;
    display: inline-flex;
}